In [1]:
import requests
res = requests.get('https://news.ltn.com.tw/list/breakingnews')

In [2]:
res

In [4]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [ ]:
#<a class="tit"

In [17]:
a = 5
if None:
    print('yes')

In [29]:
ary = []
for news in soup.select('ul.list.imm li'):
    #print(news)
    if news.select_one('a.tit p'):
        title = news.select_one('a.tit p').text.strip()
        link = 'https:'+news.select_one('a.tit').get('href')
        dt =news.select_one('span').text
        ary.append({'title':title,'link':link, 'dt':dt})
        #print(news.select_one('a.tit p').text)
        #print('===============================')

In [31]:
import pandas
df = pandas.DataFrame(ary)
df.head()

,dt,link,title
0,13:34,https://ent.ltn.com.tw/news/breakingnews/2925105,C羅再見已逝父親 激動落淚「沒見證到我的成功」
1,13:33,https://news.ltn.com.tw/news/business/breaking...,趨勢科技：開放銀行法規PSD2存在風險
2,13:30,https://news.ltn.com.tw/news/business/breaking...,談華為禁售令 任正非：美政治家可能不太懂技術
3,13:28,https://ent.ltn.com.tw/news/breakingnews/2925146,香港反送中延燒 MAMA移師日本引韓網友不滿
4,13:28,https://news.ltn.com.tw/news/business/breaking...,買節能家電減徵貨物稅 3個月衝破40萬台、退稅6.5億！

## 591 租屋網

In [40]:
import requests
headers = {
 'user-agent': 'qoo'   
}
res = requests.get('https://www.mobile01.com/newslist.php', headers = headers)
#res.text

In [37]:
import requests
headers = {
 'user-agent': 'qoo'   
}
res = requests.get('https://largitdata.com', headers = headers)

In [45]:
import requests
headers = {
 'Cookie': '__auc=00cfda7016ae4653031fbc4809e; __utmz=82835026.1558609998.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none); _ga=GA1.3.452025852.1558609998; T591_TOKEN=dhpkd9mm88po4m14m7jfu3sv52; _fbp=fb.2.1558610004061.1211475366; is_new_index=1; is_new_index_redirect=1; loginNoticeNumber=3; lastSearchRequirement=a%3A13%3A%7Bs%3A4%3A%22type%22%3Bs%3A4%3A%22rent%22%3Bs%3A8%3A%22regionid%22%3Bi%3A1%3Bs%3A9%3A%22sectionid%22%3Bi%3A0%3Bs%3A4%3A%22kind%22%3Bi%3A0%3Bs%3A5%3A%22shape%22%3Bi%3A0%3Bs%3A4%3A%22room%22%3Bi%3A0%3Bs%3A4%3A%22area%22%3Bi%3A0%3Bs%3A9%3A%22cartplace%22%3Bi%3A0%3Bs%3A9%3A%22balcony_1%22%3Bi%3A0%3Bs%3A3%3A%22pet%22%3Bi%3A0%3Bs%3A4%3A%22cook%22%3Bi%3A0%3Bs%3A4%3A%22role%22%3Bi%3A0%3Bs%3A8%3A%22newfloor%22%3Bi%3A0%3B%7D; fcm_pc_token=esqwMHrnHDs%3AAPA91bF5GGz2SV-nIwLj28XWpSzyDT61yAu-pC-JRc9KxgAd2NdXikHlrXPmgN_9ama1_w-vZJBof8j2ScGtbw5qBs9Qx-Mz0q_KymRhi6RF24PoVJvHiAgRip3EN4DSYL1tVFjrr6r2; __utma=82835026.452025852.1558609998.1562237295.1566801170.7; _ga=GA1.4.452025852.1558609998; ba_cid=a%3A5%3A%7Bs%3A6%3A%22ba_cid%22%3Bs%3A32%3A%229aa4d4a0ca2b9ce63a23ccd37be07bdb%22%3Bs%3A7%3A%22page_ex%22%3Bs%3A48%3A%22https%3A%2F%2Frent.591.com.tw%2Frent-detail-8190646.html%22%3Bs%3A4%3A%22page%22%3Bs%3A48%3A%22https%3A%2F%2Frent.591.com.tw%2Frent-detail-8190646.html%22%3Bs%3A7%3A%22time_ex%22%3Bi%3A1568102123%3Bs%3A4%3A%22time%22%3Bi%3A1568103134%3B%7D; urlJumpIp=1; urlJumpIpByTxt=%E5%8F%B0%E5%8C%97%E5%B8%82; last_search_type=2; index_keyword_search_analysis=%7B%22role%22%3A%221%22%2C%22type%22%3A2%2C%22keyword%22%3A%22%E5%8D%97%E6%96%B9%E8%8E%8A%E5%9C%92%22%2C%22selectKeyword%22%3A%22%22%2C%22menu%22%3A%22%22%2C%22hasHistory%22%3A1%2C%22hasPrompt%22%3A0%2C%22history%22%3A0%7D; user_index_role=2; user_browse_recent=a%3A5%3A%7Bi%3A0%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A6701994%3B%7Di%3A1%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A1%3Bs%3A7%3A%22post_id%22%3Bs%3A7%3A%228190646%22%3B%7Di%3A2%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A1%3Bs%3A7%3A%22post_id%22%3Bs%3A7%3A%228178302%22%3B%7Di%3A3%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A1%3Bs%3A7%3A%22post_id%22%3Bs%3A7%3A%228192858%22%3B%7Di%3A4%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A1%3Bs%3A7%3A%22post_id%22%3Bs%3A7%3A%228107838%22%3B%7D%7D; pt_28697119=uid=lyRMkppNvrACPo412FemhA&nid=0&vid=rBjj8fRzq-PJ39YdXKtFnA&vn=4&pvn=2&sact=1568702961911&to_flag=1&pl=xaNd6GIWvtwUnnOYxnixSg*pt*1568702961911; webp=1; PHPSESSID=ofiaggh4c9bl8ca6r8c9h9msl0; c10f3143a018a0513ebe1e8d27b5391c=1; new_rent_list_kind_test=0; _gid=GA1.3.1184772088.1569305293; _gid=GA1.4.1184772088.1569305293; XSRF-TOKEN=eyJpdiI6InRuSGJtcm5vWUJcLzhhSlY0NXoxSnlBPT0iLCJ2YWx1ZSI6IlhZQ1o5T251VjFFNXNpdzdEVTNZYkZ1YXV5bUdvTlVTbEdMMEhLTG1tRERIQU1BMXB3OTNURGpuTG1VdHpjTHRBbitxNGkzWGpvMmJRalZoXC9aeFZMdz09IiwibWFjIjoiM2YyZDQwMzUwNzhhODFhYTQyNDg2M2VhMjMzNDliMTNjNWY4ZThkNzFhOWMyZDlmZTNmZmNmNWQ1YzM5YWVlMyJ9; _gat_UA-97423186-1=1; 591_new_session=eyJpdiI6Ik9ZRk1lS1pMbmo2eDIyeGZoM2V1OHc9PSIsInZhbHVlIjoiYjBjcnEzUWljeUdhVWpGWjcrWXlEZ0ZGN1k2cmN6WjBFUFhQVWdWTmxPek1jNUQ4S2lCZVVrQUJoSFhpNDJoWThtdGJ1VlMrdFwvcitYWGN5anRkbzJBPT0iLCJtYWMiOiI4YWRhYTFiNWM2MzYwOWM4ZTNkMGJiN2FlYTRlOTViNjJjOTMyZmJiNTY3NWUyY2I4NmM4YjIwOTQ1N2FjNWY2In0%3D',   
 'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.132 Safari/537.36',  
 'X-CSRF-TOKEN': 'sQgQ55f1htEQZH8ecYOv3hsIcycsI1dWnpp1pN19',
 'X-Requested-With': 'XMLHttpRequest'   
}
res = requests.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow=30&totalRows=878', headers = headers)
jd = res.json()

In [47]:
import pandas
df = pandas.DataFrame(jd['data']['data'])

In [49]:
df.head()

,addInfo,addition2,addition3,addition4,addr_number_name,address,address_img,address_img_title,alley_name,allfloor,...,storeprice,street_name,streetid,type,unit,updatetime,user_id,vipBorder,vipimg,vipstyle
0,"<img src=""./images/index/userCenter/list_vip_v...",0,0,0,,忠孝東路四段四房兩廳三衛..,四房兩廳三衛精緻裝潢有家具家電車位另計,四房兩廳三衛精緻裝潢有家具家電車位另計,,13,...,0,忠孝東路四段,25637,1,元/月,1568876048,633864,vipStyle,"<img src=""./images/index/userCenter/list_vip_v...",isvip
1,"<img src=""./images/index/userCenter/list_vip_v...",0,0,0,,忠孝東路四段170巷忠孝敦..,忠孝敦化誠品管理兩房●美式風格精美裝修,忠孝敦化誠品管理兩房●美式風格精美裝修,170巷,12,...,0,忠孝東路四段,25637,1,元/月,1567662905,1611062,vipStyle,"<img src=""./images/index/userCenter/list_vip_v...",isvip
2,"<img src=""./images/index/userCenter/list_vip_v...",0,0,0,,光復南路中信陳頡恩博愛名..,中信陳頡恩博愛名門精美2房,中信陳頡恩博愛名門精美2房,,12,...,0,光復南路,25623,1,元/月,1569302046,2421884,vipStyle,"<img src=""./images/index/userCenter/list_vip_v...",isvip
3,"<img src=""./images/index/userCenter/list_vip_v...",0,0,0,,瑞安街208巷近大安森林公..,近大安森林公園.靜巷優雅.精品1+1房,近大安森林公園.靜巷優雅.精品1+1房,208巷,7,...,0,瑞安街,25671,1,元/月,1567687690,2664546,vipStyle,"<img src=""./images/index/userCenter/list_vip_v...",isvip
4,"<img src=""./images/index/userCenter/list_vip_v...",0,0,0,304號,和平東路三段捷運六張犁站..,捷運六張犁站八分鐘，二房一廳一陽台,捷運六張犁站八分鐘，二房一廳一陽台,,4,...,0,和平東路三段,25634,1,元/月,1567997887,255583,vipStyle,"<img src=""./images/index/userCenter/list_vip_v...",isvip