## ÊàøÂ±ãË≥áÊñôÊäìÂèñ

In [4]:
import requests
headers = {
 'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36'   
}
res = requests.get('https://sale.591.com.tw/home/search/list?type=2&&shType=list&section=7&regionid=1&kind=9&firstRow=30&totalRows=2404&timestamp=1539754751297', headers = headers)

In [5]:
res

In [11]:
import pandas
pandas.DataFrame(res.json()['data']['house_list']).head(3)

,address,area,browsenum,cartmodel,carttype,community_link,community_name,delivery,down_price_percent,fci_pai,...,saletype,section_name,shape_name,showhouseage,showprice,tag,title,type,unit_price,unitprice
0,Âø†Â≠ùÊù±Ë∑Ø‰∫îÊÆµ31Â∑∑,15.16,382,,,/newCommunity-index.html?cid=50519,ÁÑ°Áà≠,,NaN,,...,0,‰ø°Áæ©ÂçÄ,ÈõªÊ¢ØÂ§ßÊ®ì,10Âπ¥,"1,790",[],Â∏ÇÂ∫úÊ•µÁæéÁÑ°Áà≠Á≤æÂìÅ,2,118.07Ëê¨/Âù™,118.07
1,Âø†Â≠ùÊù±Ë∑Ø‰∫îÊÆµ743Â∑∑,32.56,606,,,/newCommunity-index.html?cid=93550,ÈÅîÈ∫ó‰ø°Áæ©,,NaN,,...,0,‰ø°Áæ©ÂçÄ,ÈõªÊ¢ØÂ§ßÊ®ì,3Âπ¥,"2,600","[Âê´Ëªä‰Ωç, ÊúâÈôΩÂè∞]",ÊåáÂêçÊâøËæ¶‰∫∫Â∞èÈçæÔºöÊú¨Ê£üÊúÄ‰ΩéÁ∏ΩÂÉπÔºÅÁ≤æÁ∑ªË£ùÊΩ¢ÔºÅ,2,114.77Ëê¨/Âù™,114.77
2,ÊùæÂ±±Ë∑Ø,20.68,720,,,/newCommunity-index.html?cid=6751,Ê∞∏Êò•Â§ßÊ®ì,,NaN,,...,0,‰ø°Áæ©ÂçÄ,ÈõªÊ¢ØÂ§ßÊ®ì,34Âπ¥,"1,220",[ÊúâÈôΩÂè∞],Â∞àÂîÆÊ∞∏Êò•Â§ßÊ®ì-‰ΩèÂïÜ‰ΩèÂå†ÂúòÈöä,2,58.99Ëê¨/Âù™,58.99

In [14]:
import time
houseurl = 'https://sale.591.com.tw/home/search/list?type=2&&shType=list&section=7&regionid=1&kind=9&firstRow={}&totalRows=2404&timestamp=1539754751297'

houseary = []
for i in range(0,int(2404 / 30)+ 1 ):
    res = requests.get(houseurl.format(i*30), headers = headers)
    df = pandas.DataFrame(res.json()['data']['house_list'])
    houseary.append(df)
    time.sleep(1)
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80

In [15]:
housedf = pandas.concat(houseary)

In [17]:
housedf.count()

address                 2403
area                    2405
browsenum               2405
build_purpose              2
call_num                   2
cartmodel               2403
carttype                2403
community_link          2403
community_name          2403
company                    2
delivery                2403
down_price_percent        35
fci_pai                 2403
floor                   2403
has_carport             2403
houseage                2405
houseid                 2405
is_carport              2403
is_combine              2403
is_down_price           2403
is_full                    2
is_hurry_price          2403
is_newhouse                2
is_oversea              2403
is_pro_advertisement       2
is_video                2403
isnew                   2403
isvip                   2403
kind                    2403
kind_name               2403
label                      2
mainarea                2403
nick_name               2403
original_price            35
phonenum                   2
photoNum                2403
photo_url               2405
posttime                2405
price                   2405
ratio                      2
refreshtime             2405
region_name             2405
room                    2405
saletype                2403
section_name            2405
shape_name              2403
show_price                 2
show_price_unit            2
show_unitprice             2
show_unitprice_unit        2
showarea                   2
showhouseage            2403
showprice               2403
street_name                2
tag                     2405
title                   2405
type                    2405
unit_price              2403
unitprice               2405
dtype: int64

In [18]:
housedf.to_excel('house591.xlsx')

## ÊàøÂ±ãË≥áÊñôÊ∏ÖÁêÜ

In [47]:
import pandas
housedf  = pandas.read_excel('https://raw.githubusercontent.com/ywchiu/chinalife/master/data/house591.xlsx')

In [48]:
housedf.iloc[2]

address                                                            Âø†Â≠ùÊù±Ë∑Ø‰∫îÊÆµ
area                                                                41.17
browsenum                                                             180
build_purpose                                                         NaN
call_num                                                              NaN
cartmodel                                                             NaN
carttype                                                              NaN
community_link                          /newCommunity-index.html?cid=6305
community_name                                                       Êò•ÁßãÂ§ßÂªà
company                                                               NaN
delivery                                                              NaN
down_price_percent                                                    NaN
fci_pai                                                               NaN
floor                                                              8F/14F
has_carport                                                             0
houseage                                                               35
houseid                                                           5548178
is_carport                                                              0
is_combine                                                              1
is_down_price                                                           0
is_full                                                               NaN
is_hurry_price                                                          0
is_newhouse                                                           NaN
is_oversea                                                              0
is_pro_advertisement                                                  NaN
is_video                                                                0
isnew                                                                   0
isvip                                                                   0
kind                                                                    9
kind_name                                                              ‰ΩèÂÆÖ
label                                                                 NaN
mainarea                                                            32.59
nick_name                                                           ‰ª≤‰ªãÈóúÂÖàÁîü
original_price                                                        NaN
phonenum                                                              NaN
photoNum                                                               13
photo_url               https://hp2.591.com.tw/house/active/2018/10/08...
posttime                                                       1538996803
price                                                                3988
ratio                                                                 NaN
refreshtime                                                         44ÂàÜÈêòÂÖß
region_name                                                           Âè∞ÂåóÂ∏Ç
room                                                               4Êàø2Âª≥2Ë°õ
saletype                                                                0
section_name                                                          ‰ø°Áæ©ÂçÄ
shape_name                                                           ÈõªÊ¢ØÂ§ßÊ®ì
show_price                                                            NaN
show_price_unit                                                       NaN
show_unitprice                                                        NaN
show_unitprice_unit                                                   NaN
showarea                                                              NaN
showhouseage                                                          35Âπ¥
showprice                                                           3,988
street_name                                                           NaN
tag                                                        ['ÊúâÈôΩÂè∞', '‰ΩéÂÖ¨Ë®≠']
title                                                     üçéÂ∏ÇÂ∫úÊò•ÁßãÊç∑ÈÅãÂõõÊàøüçé‰ΩèÂïÜÈóúÊñá‰πæ
type                                                                    2
unit_price                                                       96.87Ëê¨/Âù™
unitprice                                                           96.87
Name: 2, dtype: object

In [49]:
housedf = housedf[['area', 'room','floor','price','houseage']]

In [50]:
housedf[['bedroom', 'livingroom', 'bathroom']] = housedf['room'].str.extract('(\d+)Êàø(\d+)Âª≥(\d+)Ë°õ')

/Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [51]:
housedf[['current_floor', 'total_floor']] = housedf['floor'].str.extract('(\d+)F/(\d+)F')

/Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [52]:
del housedf['room']
del housedf['floor']

In [53]:
housedf.dropna(inplace=True)

In [54]:
housedf.head()

,area,price,houseage,bedroom,livingroom,bathroom,current_floor,total_floor
2,41.17,3988,35,4,2,2,8,14
3,15.76,1180,44,2,1,1,3,4
6,106.74,11500,4,4,2,3,7,12
7,15.39,1520,19,1,1,1,4,14
8,53.39,3850,29,2,2,2,8,15

In [55]:
housedf.columns

Index(['area', 'price', 'houseage', 'bedroom', 'livingroom', 'bathroom',
       'current_floor', 'total_floor'],
      dtype='object')

In [59]:
Y = housedf['price'].values
X = housedf[['area', 'bedroom', 'livingroom', 'bathroom', 'current_floor',
       'total_floor', 'houseage']]

In [60]:
X['total_floor'] = X['total_floor'].astype(float)
X['bedroom'] = X['bedroom'].astype(float)
X['livingroom'] = X['livingroom'].astype(float)
X['bathroom'] = X['bathroom'].astype(float)
X['current_floor'] = X['current_floor'].astype(float)

/Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

## Ë≥áÊñôÂàÜÊûê

In [61]:
import statsmodels.api as sm
X2  = sm.add_constant(X)
est = sm.OLS(Y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.890
Model:                            OLS   Adj. R-squared:                  0.889
Method:                 Least Squares   F-statistic:                     2502.
Date:                Wed, 17 Oct 2018   Prob (F-statistic):               0.00
Time:                        14:18:00   Log-Likelihood:                -18696.
No. Observations:                2177   AIC:                         3.741e+04
Df Residuals:                    2169   BIC:                         3.745e+04
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const         -1096.2896    137.992     -7.945      0.000   -1366.899    -825.680
area            124.0044      1.285     96.527      0.000     121.485     126.524
bedroom        -230.7138     39.953     -5.775      0.000    -309.064    -152.363
livingroom      -73.5444     59.994     -1.226      0.220    -191.197      44.108
bathroom        154.8131     50.483      3.067      0.002      55.812     253.814
current_floor    19.9364      9.046      2.204      0.028       2.198      37.675
total_floor      29.6870      8.479      3.501      0.000      13.059      46.315
houseage         -3.2995      2.633     -1.253      0.210      -8.463       1.864
==============================================================================
Omnibus:                     1218.215   Durbin-Watson:                   1.973
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            60969.519
Skew:                           1.913   Prob(JB):                         0.00
Kurtosis:                      28.642   Cond. No.                         273.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [62]:
predictorcols = X.columns

In [64]:
import itertools
AICs = {}
for k in range(1,len(predictorcols)+1):
    for variables in itertools.combinations(predictorcols, k):
        predictors = X[list(variables)]
        predictors2 = sm.add_constant(predictors)
        est = sm.OLS(Y, predictors2)
        res = est.fit()
        AICs[variables] = res.aic

In [70]:
from collections import Counter
c = Counter(AICs)
c.most_common()[::-1][0:3]

[(('area', 'bedroom', 'bathroom', 'current_floor', 'total_floor', 'houseage'),
  37407.03375336106),
 (('area',
   'bedroom',
   'livingroom',
   'bathroom',
   'current_floor',
   'total_floor'),
  37407.10172648925),
 (('area', 'bedroom', 'bathroom', 'current_floor', 'total_floor'),
  37407.16576925829)]

In [63]:
import itertools
for variables in itertools.combinations(predictorcols, 4):
    print(variables)

('area', 'bedroom', 'livingroom', 'bathroom')
('area', 'bedroom', 'livingroom', 'current_floor')
('area', 'bedroom', 'livingroom', 'total_floor')
('area', 'bedroom', 'livingroom', 'houseage')
('area', 'bedroom', 'bathroom', 'current_floor')
('area', 'bedroom', 'bathroom', 'total_floor')
('area', 'bedroom', 'bathroom', 'houseage')
('area', 'bedroom', 'current_floor', 'total_floor')
('area', 'bedroom', 'current_floor', 'houseage')
('area', 'bedroom', 'total_floor', 'houseage')
('area', 'livingroom', 'bathroom', 'current_floor')
('area', 'livingroom', 'bathroom', 'total_floor')
('area', 'livingroom', 'bathroom', 'houseage')
('area', 'livingroom', 'current_floor', 'total_floor')
('area', 'livingroom', 'current_floor', 'houseage')
('area', 'livingroom', 'total_floor', 'houseage')
('area', 'bathroom', 'current_floor', 'total_floor')
('area', 'bathroom', 'current_floor', 'houseage')
('area', 'bathroom', 'total_floor', 'houseage')
('area', 'current_floor', 'total_floor', 'houseage')
('bedroom', 'livingroom', 'bathroom', 'current_floor')
('bedroom', 'livingroom', 'bathroom', 'total_floor')
('bedroom', 'livingroom', 'bathroom', 'houseage')
('bedroom', 'livingroom', 'current_floor', 'total_floor')
('bedroom', 'livingroom', 'current_floor', 'houseage')
('bedroom', 'livingroom', 'total_floor', 'houseage')
('bedroom', 'bathroom', 'current_floor', 'total_floor')
('bedroom', 'bathroom', 'current_floor', 'houseage')
('bedroom', 'bathroom', 'total_floor', 'houseage')
('bedroom', 'current_floor', 'total_floor', 'houseage')
('livingroom', 'bathroom', 'current_floor', 'total_floor')
('livingroom', 'bathroom', 'current_floor', 'houseage')
('livingroom', 'bathroom', 'total_floor', 'houseage')
('livingroom', 'current_floor', 'total_floor', 'houseage')
('bathroom', 'current_floor', 'total_floor', 'houseage')

## ÈÄ£Á∑öË≥áÊñôÂ∫´

In [71]:
import sqlite3 as lite
con = lite.connect('test.sqlite')
cur = con.cursor()
cur.execute('SELECT SQLITE_VERSION()')
data = cur.fetchone()
con.close()

In [72]:
data

('3.19.3',)

In [73]:
import sqlite3 as lite
with lite.connect('test.sqlite') as con:
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchone()
#con.close()

In [74]:
data

('3.19.3',)

In [75]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    cur.execute("DROP TABLE IF EXISTS PhoneAddress") 
    cur.execute("""CREATE TABLE PhoneAddress(
                    phone CHAR(10) PRIMARY KEY, 
                    address TEXT, 
                    name TEXT unique, 
                    age INT NOT NULL)""") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES('0957209108','Taipei','Richard',29)")

In [77]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    cur.execute("SELECT phone, address from PhoneAddress")
    data = cur.fetchall()

In [78]:
data

[('0912173381', 'United State'),
 ('0928375018', 'Tokyo Japan'),
 ('0957209108', 'Taipei')]

## Python and SQLServer

>>> import pyodbc
>>> cnxn = pyodbc.connect('DRIVER={SQL Server}; SERVER=192.168.1.1,1433; DATABASE=Trid; UID=sa; PWD=sss')
>>> cursor = cnxn.cursor()
>>> cursor.execute("SELECT EmployeeNo, EmployeeName FROM YYY.dbo.Users")
<pyodbc.Cursor object at 0x00000207A8C88378>
>>> rows = cursor.fetchall()
>>> for row in rows:
	print(row.EmployeeNo, row.EmployeeName)

In [79]:
import sqlite3 as lite 
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    cur.execute("SELECT phone, address from PhoneAddress")
    data1 = cur.fetchone()
    data2 = cur.fetchall()

In [80]:
data1

('0912173381', 'United State')

In [81]:
data2

[('0928375018', 'Tokyo Japan'), ('0957209108', 'Taipei')]

In [82]:
import sqlite3 as lite
import pandas
employee = [{'name':'Mary', 'age':23 , 'gender': 'F'},{'name':'John', 'age':33 , 'gender': 'M'}]
df = pandas.DataFrame(employee)
df

   age gender  name
0   23      F  Mary
1   33      M  John

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
age       2 non-null int64
gender    2 non-null object
name      2 non-null object
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes

In [85]:
with lite.connect('test.sqlite') as db:
    df.to_sql(name='employee', index=False, con=db, if_exists='replace')

## ÂÑ≤Â≠òÂØ¶‰æã

In [86]:
import pandas
housedf  = pandas.read_excel('https://raw.githubusercontent.com/ywchiu/chinalife/master/data/house591.xlsx')

In [88]:
housedf = housedf[['area', 'room','floor','price','houseage']]

In [90]:
housedf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2405 entries, 0 to 2
Data columns (total 5 columns):
area        2405 non-null float64
room        2405 non-null object
floor       2402 non-null object
price       2405 non-null int64
houseage    2405 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 112.7+ KB

In [91]:
with lite.connect('house.sqlite') as con:
    housedf.to_sql('house591', con = con)

In [93]:
with lite.connect('house.sqlite') as con:
    df = pandas.read_sql_query('select * from house591 limit 3', con = con)

In [94]:
df

   index   area    room   floor  price  houseage
0      0  75.00    3~4Êàø    None   9000         0
1      1  46.42   ÈñãÊîæÂºèÊ†ºÂ±Ä  9F/13F   4380        12
2      2  41.17  4Êàø2Âª≥2Ë°õ  8F/14F   3988        35

In [96]:
with lite.connect('house.sqlite') as con:
    df = pandas.read_sql_query('select avg(price) from house591', con = con)

In [97]:
df

    avg(price)
0  3706.310187

In [98]:
with lite.connect('house.sqlite') as con:
    df = pandas.read_sql_query('select avg(price/area) from house591', con = con)

In [99]:
df

   avg(price/area)
0        87.765449

## SQLAlchemy and SQLServer 
- https://docs.sqlalchemy.org/en/latest/core/engines.html

## ‰∏âÂ§ßÊ≥ï‰∫∫Êó•Â†±
- http://www.twse.com.tw/zh/page/trading/fund/T86.html

In [100]:
import requests
res = requests.get('http://www.twse.com.tw/fund/T86?response=json&date=20181016&selectType=ALL&_=1539761083842')

In [103]:
import pandas
df = pandas.DataFrame(res.json()['data'])

In [105]:
df.columns = res.json()['fields']

In [107]:
with lite.connect('test.sqlite') as con:
    df.to_sql('bigthree', con = con)

## ÊäìÂèñÂÖ¨ÈñãË≥áË®äËßÄÊ∏¨Á´ôÊ≠∑Âπ¥ËÆäÊõ¥ÁôªË®ò

In [113]:
import requests
from bs4 import BeautifulSoup
payload = {
'encodeURIComponent': '1',
'step': '1',
'firstin': '1',
'off': '1', 
'queryName': 'co_id',
'inpuType': 'co_id',
'TYPEK': 'all',
'co_id': '2823'    
}
res  = requests.post('http://mops.twse.com.tw/mops/web/ajax_t05st05', data = payload)
soup = BeautifulSoup(res.text, 'lxml')

In [118]:
payload2 = {}
for item in soup.select_one('form').select('input[type=hidden]'):
    if item.get('value'):
        payload2[item.get('name')] = item.get('value')
payload2

{'TYPEK': 'sii', 'co_id': '2823', 'firstin': 'true', 'off': '1', 'step': '2'}

In [119]:
payload2['year'] = '1994'
payload2['month'] = '10'

In [120]:
res = requests.post('http://mops.twse.com.tw/mops/web/ajax_t05st05', data = payload2)
res

In [123]:
dfs = pandas.read_html(res.text)
dfs[1]

                  0                 1                2           3          4
0   ÊòØÂê¶‰øÇÁî≥Â†±È¶ñÊ¨°ÂÖ¨ÈñãÁôºË°å‰πãËº∏ÂÖ•Ôºö               NaN              NaN         NaN        NaN
1           ÊØè ËÇ° Èù¢ È°ç           10.0000  ËÆä Êõ¥ ÂÖ¨ Âè∏ Âü∑ ÁÖß ÊôÇ Èñì         83Âπ¥        10Êúà
2         Ê†∏ÂÆöËÇ°Êú¨ËÇ°Êï∏(ËÇ°)         250000000        Ê†∏ÂÆöËÇ°Êú¨ÈáëÈ°ç(ÂÖÉ)  2500000000        NaN
3        ÂØ¶Êî∂ËÇ°Êú¨ËÇ°Êï∏ (ËÇ°)         212875000        ÂØ¶Êî∂ËÇ°Êú¨ÈáëÈ°ç(ÂÖÉ)  2128750000        NaN
4           ËÇ°Êú¨‰æÜÊ∫ê(ÂÖÉ)       1.Ââµ Á´ã ÊôÇ Ë≥á Êú¨         20000000      2.ÁèæÈáëÂ¢ûË≥á  765600000
5         3.Ë≥áÊú¨ÂÖ¨Á©çËΩâÂ¢ûË≥á         250275000          4.ÁõàÈ§òËΩâÂ¢ûË≥á  1064875000        NaN
6    5.Ë≠âÊúüÂ±ÄÊ†∏ÂáÜË≥áÊú¨ÂÖ¨Á©ç‰πãÊó•Êúü               NaN  6.Ë≠âÊúüÂ±ÄÊ†∏ÂáÜÁõàÈ§òËΩâÂ¢ûË≥á‰πãÊó•Êúü         NaN        NaN
7         7.Âêà‰ΩµÂ¢ûË≥á(ÂÖÉ)                 0          8.Ê∏õË≥á(ÂÖÉ)           0        NaN
8    9.Ë≠âÊúüÂ±ÄÊ†∏ÂáÜÂêà‰ΩµÂ¢ûË≥á‰πãÊó•Êúü               NaN    10.Ë≠âÊúüÂ±ÄÊ†∏ÂáÜÊ∏õË≥á‰πãÊó•Êúü         NaN        NaN
9             11.ÂÖ∂‰ªñ  Âì°Â∑•Á¥ÖÂà©ËΩâÂ¢ûË≥á:28000000              NaN         NaN        NaN
10    ‰ª•ÁèæÈáë‰ª•Â§ñ‰πãË≤°Áî¢ÊäµÂÖÖËÇ°Ê¨æËÄÖ                 ÁÑ°              NaN         NaN        NaN
11               ÂÖ∂‰ªñ               NaN              NaN         NaN        NaN

## ÂèñÂæóÁõ§Âæå‰∫§ÊòìË≥áË®ä

## Rate Limiting
- https://www.nginx.com/blog/rate-limiting-nginx/

In [126]:
import requests
import time
for i in range(1,10):
    res = requests.get('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=json&date=&type=&_=1539763053868')
    time.sleep(3)
    print(res)
#res.json()

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

## Proxy Rotate

In [135]:
import requests
headers = {
 'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36',  
 'origin': 'https://www.whatismyip.com',
 'referer': 'https://www.whatismyip.com/'   
}

proxies = {
  'http': 'http://196.17.26.204:8800',
  'https': 'http://196.17.26.204:8800',
}
res = requests.get('https://ipv4.whatismyip.com/', headers = headers, proxies = proxies)
res.text

'196.17.26.204'